@import './base.css';

#app {
  min-height: 100vh;
  background-image: url('@/assets/main1.jpg'); /* путь к вашей картинке */
  background-size: cover; /* растягивает картинку на весь экран */
  background-position: center; /* центрирует картинку */
  background-repeat: no-repeat; /* предотвращает повторение */
  background-attachment: fixed; /* фиксирует фон при скролле */
}
